.logo-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.logo-slider {
  display: flex;
  gap: 4rem;
  width: max-content;
  animation: scroll 40s linear infinite;
  will-change: transform;
}

.logo-slider:hover {
  animation-play-state: paused;
}

.logo-item {
  flex-shrink: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.logo-item:hover {
  transform: scale(1.15);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 1.5rem));
  }
}


@media (max-width: 450px) {
  .logo-slider {
    gap: 2rem;
  }
}